dotzprezto/modules/*

dotvim/swaps/*
!dotvim/swaps/.keep
dotvim/undo/*
!dotvim/undo/.keep
dotvim/backups/*
!dotvim/backups/.keep
dotvim/autoload/
dotvim/bundle/
dotxmonad/*.{errors,o,hi}
dotxmonad/xmonad-x86_64-linux
.stack*
