dotzprezto/modules/*

\#*\#
/dotemacs.d/games
/dotemacs.d/*.data
/dotemacs.d/*.dat
/dotemacs.d/*.lsp-session*
/dotemacs.d/transient
/dotemacs.d/straight
/dotemacs.d/.cache
/dotemacs.d/emojis
/dotemacs.d/workspace
*personal*
/dotemacs.d/ede-projects.el

dotvim/.*
dotvim/bundle
dotvim/swaps/*
!dotvim/swaps/.keep
dotvim/undo/*
!dotvim/undo/.keep
dotvim/backups/*
!dotvim/backups/.keep
dotvim/autoload/
dotxmonad/*.{errors,o,hi}
dotxmonad/xmonad-x86_64-linux
.stack*

dotconfig/pulse/cookie
dotconfig/i3/i3status-rs.toml

# per-machine config activation
/nix/home.nix
nix/config.nix
**/secrets/
