[submodule "dotzprezto/prezto-repo"]
	path = dotzprezto/prezto-repo
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "dotvim/bundle/Vundle.vim"]
	path = dotvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
